* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
.nnn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}
.cantener{
   max-width: 1170px;
   margin: 0 auto;
}
  
.lll {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.lll img {
    width: 40px;
}
  
.lll span {
    font-size: 20px;
    color: #0078d7;
}
  
.nnn nav a {
    text-decoration: none;
    color: #555;
    margin-left: 20px;
    font-size: 16px;
}
  
.nnn nav .downloads {
    color: #0078d7;
}
  
.hhh {
    display: flex;
    align-items: center;
    padding: 50px 20px;
    background-color: #0078d7;
    color: white;
    gap: 20px;
}
  
.hhh .ccc h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
  
.hhh p {
    font-size: 18px;
    margin-bottom: 20px;
}
.hhh .bbb {
    padding: 10px 20px;
    background-color: #ffd700;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}
  
.hhh .sss img {
    max-width: 100%;
    border-radius: 5px;
}
  
.fff {
    display: flex;
    gap: 20px;
    padding: 50px 20px;
    background-color: #e8f4fc;
}
  
.ff {
    background-color: #0078d7;
    color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
}
  
.ff h3 {
    font-size: 18px;
}
  
.header {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
    margin-bottom: 10px;
    text-align: center;
}
  
.content {
    text-align: left;
}
  
.content h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    color: rgba(0, 0, 255, 0.756);
}
  
.content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
  
.content img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}
.content h2{
    color: rgba(23, 23, 229, 0.764);
    font-size: 12px;
}